.k-author {
  display: none;
}



/* old browsers 
// For IE 6/7  */
.va_clearfix:before,
.va_clearfix:after {
  content: "";
  display: table;
}

.va_clearfix:after {
  clear: both;
}

/* // Virtual Assistant inclusion styles. */
.va_chatAnchor {
  position: relative;
  z-index: 999999;
  bottom: 0;
  right: 0;
  min-width: 320px;
  line-height: 1;
  transition: 1s;
  color: #FFFFFF;
  display: block ! important;
}

.va_iframe {
  display: block;
  height: 0;
  width: 350px;
  min-width: 320px;
  position: fixed;
  right: 50px;
  bottom: 0;
  border: none;
  overflow: scroll;
}

/* // Virtual Assistant desktop styles. */

.va_header {
  background: linear-gradient(#4D4D4F, #777777);
  border-radius: 5px 5px 0 0;
  color: #ffffff;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#4D4D4F', endColorstr='#777777');
  max-height: 55px;
  position: relative;

}

.va_resizeIcon {
  background: url('../images/va_resizelarge.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  bottom: 2px;
  display: block;
  margin-right: 12.5px;
  margin-top: 3.5px;
  opacity: .6;
  padding: 18.5px 15px;
  position: absolute;
  right: 0;
  top: 0;


}

.va_resizeIcon.va_large {
  background: url('../images/va_resizesmall.png');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: center;
}

.va_chatTitle {
  background: url('../images/botimage.svg');
  background-repeat: no-repeat;
  background-size: 35px 55px;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 55px;
  margin: .08em 0 0 .6em;
  padding-left: 2.6em;
}

#va_chatHeader {
  position: fixed;
  bottom: 0;
  right: 50px;
  width: 350px;
  cursor: pointer;
  box-shadow: 1px 1px 4px rgb(85, 85, 102);
  border-radius: 5px;
}

.va_chatBorder {}

/**
* Skip to Content link styles.
*/
.va_skipToLink {
  display: none;
}

.va_skipToLink.active {
  display: block !important;
  z-index: 10;
  position: absolute;
  color: #000000;
  background-color: #1C78B9;
  padding: 5px;
  font-weight: bold;
  top: -1000px;
  left: -1000px;
  height: 0;
  width: 0;
  font-size: 0.875rem !important;
  text-decoration: underline;
}

a.va_skipToLink:focus,
a.va_skipToLink:active,
a.va_skipToLink:hover {
  left: 0;
  top: 0;
  height: inherit;
  width: inherit;
}

.va_chatborder {
  background: rgb(0, 128, 128);
}

.va_header {
  background: rgb(0, 128, 128);
  height: 55px;

}

#va_chatHeader .va_header:hover {
  background: #002850;
}


/**
/* Virtual Assistant mobile styles.
*/
@media screen and (max-width: 599px),
screen and (max-height: 490px) {


  .va_chatAnchor {
    right: 0px;
    width: 100%;
    height: 100%;
  }

  .va_header {
    box-shadow: none;
    padding: 1em;
  }

  .va_chatBorder {
    display: block;
  }

  .va_mobileBar {
    -webkit-text-size-adjust: 100%;
    border-radius: 5px 5px 0 0;
    bottom: 0;
    display: block;
    font-size: 1.3rem;
    height: 45px;
    position: fixed;
    right: 50px;

    width: 170px;

    /* Prevent font scaling in landscape while allowing user zoom */

  }

  .va_mobileLarge {
    width: 100% !important;
    top: 0;
    left: 0;
    border-radius: 0 !important;

  }

  #va_chatHeader {
    display: block;
  }

  /* This style is applied to the chat arrow in mobile view when the chat is minimised. */
  #va_mobileToggle.va_mobileToggle {
    height: 80px;
    width: 100%;
    background: url('../images/va_arrowup.png');
    background-position: right 5px bottom 45px;
    background-size: 20px 10px;
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    bottom: 12px;
    display: block;
  }

  /* This style is applied to the chat arrow in mobile view when the chat is open/maximised. */
  #va_mobileToggle.va_mobileToggle.va_open {

    background: url('../images/va_arrowdown.png');
    background-repeat: no-repeat;
    background-position: right 25px bottom 20px;
    background-size: 20px 10px;
    height: 55px;
    left: initial;
    right: -5px;

    bottom: 35px;
  }

  .va_chatTitle {
    position: absolute;
    bottom: -2px;
    height: 0;
    left: -20px;
    font-size: 1rem;
  }

  /* Ensure the mobile slider doesn't overlap the footer content */
  body {
    padding-bottom: 40px;
  }
}