$white: #fff;
$black: #000;
$grey: #f4f4f4;
$blue-medium: #0072c6;


$accent: #0072c6;
$series-a: #cde6f7;

@import 'node_modules/@progress/kendo-theme-default/scss/input';
@import 'node_modules/@progress/kendo-theme-default/scss/button';
@import 'node_modules/@progress/kendo-theme-default/scss/chat';



@mixin accessible-hide {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

html {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
}

.k-chat {

  height: 100%;
  max-width: 700px;

  .k-message-group {
    max-width: 90%;
  }

  .k-message-box {

    color: $black;

    .k-button {
      &:hover {
        color: $blue-medium;
      }
    }
  }

  .k-bubble {
    background-color: $grey;
    border-color: $grey;
    color: $black;

    p {
      margin: .3em 0;
    }
  }

  .k-alt {
    .k-bubble {
      background-color: $series-a;
      border-color: $series-a;
      color: $black;
    }
  }

  .k-card-deck {
    .k-card {
      flex-basis: 230px;
    }
  }

  .k-message-list-content>*+* {
    margin-top: 16px;
  }

}

.k-message-list {
  background-color: $white;
}

.k-message-box {
  .k-button {
    svg {
      opacity: .5;
    }
  }
}

.k-author {
  @include accessible-hide;
}


.k-content {
  height: calc(100vh - (2px));
}

.k-card>img.k-card-image {
  height: 115px;
  display: block;
}